<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xianguo.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".WelcomeActivity"  android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:windowSoftInputMode="adjustPan" />
       
        <activity android:name=".MoreActivity"/>
        <activity android:name=".FavoriteActivity"/>
        <activity android:name=".XianguoActivity" android:windowSoftInputMode="adjustPan"  android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FeedBackActivity"/>
        <activity android:name=".DetailModuleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BuyActivity"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".CategoryActivity"/>
        <activity android:name=".BrandActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".SearchTitleActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".DownloadActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".UseGuideActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TaobaoActivity"/>
        
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>